body {
  background-color: #050505;
  color: #f3f4f6;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #D4AF37;
}
.text-gold-gradient {
  background: linear-gradient(135deg, #F3E5AB 0%, #D4AF37 50%, #AA8820 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
